examples/n8n/fill-pdf-workflow.json
{
  "id": "JustFillFillPdf1",
  "name": "Fill PDF with JustFill",
  "nodes": [
    {
      "parameters": {
        "content": "## Fill any PDF form — no AI model needed\n\n**Setup (2 min):**\n1. Get an API key at https://justfill.app/account → API keys\n2. Paste it into the **Config** node\n3. Save a template for your PDF once (open it with any MCP agent — Claude, Cursor — name the fields, `save_template`). Templates: https://justfill.app/dashboard?tab=templates\n\n**Then:** every run is deterministic — data maps to fields by name, no LLM, no per-run review.\n\nSwap the Form Trigger for Gmail/Drive/Webhook in production.",
        "height": 320,
        "width": 360
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "How to use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -180
      ]
    },
    {
      "parameters": {
        "formTitle": "Fill a PDF with JustFill",
        "formDescription": "Upload a PDF that has a saved JustFill template and provide the values as JSON.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Data JSON",
              "fieldType": "textarea",
              "placeholder": "{\"age_score\": \"1\", \"total_score\": \"5\"}",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "webhookId": "76a1b6a1-90d2-4f1e-9d55-1c6f0a8b1a01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000000-0000-0000-0000-000000000001",
              "name": "apiKey",
              "value": "jf_live_YOUR_API_KEY_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://justfill.app/api/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.apiKey }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": {\"name\": \"request_file_upload\", \"arguments\": {}}}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Mint upload slot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rpc = $input.first().json;\nif (rpc.error) throw new Error('MCP transport error: ' + JSON.stringify(rpc.error));\nif (rpc.result && rpc.result.isError) throw new Error('MCP tool error: ' + ((rpc.result.content && rpc.result.content[0] && rpc.result.content[0].text) || 'unknown'));\n// The slot JSON arrives as text inside the MCP tool result.\nconst slot = JSON.parse(rpc.result.content[0].text);\nif (slot.error) throw new Error('request_file_upload: ' + slot.error);\nconst trigger = $('On form submission').first();\nconst binKey = Object.keys(trigger.binary || {})[0];\nif (!binKey) throw new Error('No file arrived from the form.');\n// Ready-made JSON-RPC body for the Open PDF node (building it here avoids\n// n8n's expression parser tripping on `}}` inside inline object literals).\nslot.openBody = {\n  jsonrpc: '2.0', id: 2, method: 'tools/call',\n  params: { name: 'open_pdf', arguments: { upload_token: slot.upload_token } },\n};\nreturn [{ json: slot, binary: { file: trigger.binary[binKey] } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Prepare upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.post_url }}",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Upload PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://justfill.app/api/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.apiKey }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Prepare upload').item.json.openBody) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Open PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rpc = $input.first().json;\nif (rpc.error) throw new Error('MCP transport error: ' + JSON.stringify(rpc.error));\nif (rpc.result && rpc.result.isError) throw new Error('MCP tool error: ' + ((rpc.result.content && rpc.result.content[0] && rpc.result.content[0].text) || 'unknown'));\nconst ws = JSON.parse(rpc.result.content[0].text);\nif (ws.error) throw new Error('open_pdf: ' + ws.error);\n\nconst raw = $('On form submission').first().json['Data JSON'];\nlet data;\ntry { data = JSON.parse(raw); }\ncatch (e) { throw new Error('Data JSON must be valid JSON, e.g. {\"age_score\": \"1\"}'); }\n\n// Match data keys to template field names (case/punctuation-insensitive).\nconst norm = s => String(s).toLowerCase().replace(/[^a-z0-9]+/g, '');\nconst values = {}, unmatched = [];\nfor (const [k, v] of Object.entries(data)) {\n  const nk = norm(k);\n  const f = ws.fields.find(f => norm(f.name) === nk)\n    || ws.fields.find(f => f.name && (norm(f.name).includes(nk) || nk.includes(norm(f.name))));\n  if (f) values[f.id] = String(v); else unmatched.push(k);\n}\n\nif (!Object.keys(values).length) {\n  const named = ws.fields.filter(f => f.name).map(f => f.name);\n  throw new Error(named.length\n    ? 'No data keys matched the template fields. Available: ' + named.join(', ')\n    : 'This PDF has no saved template with named fields. Open it once with an AI agent (Claude/Cursor + justfill MCP), name the fields and save_template — then this workflow runs deterministically.');\n}\n\nreturn [{ json: {\n  workspace_id: ws.summary.workspace_id,\n  source: ws.summary.source,\n  matched: Object.keys(values).length,\n  unmatched,\n  values,\n  fillBody: {\n    jsonrpc: '2.0', id: 3, method: 'tools/call',\n    params: { name: 'fill_pdf', arguments: { workspace_id: ws.summary.workspace_id, values } },\n  },\n} }];"
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Map values to fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://justfill.app/api/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.apiKey }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fillBody) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Fill PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rpc = $input.first().json;\nif (rpc.error) throw new Error('MCP transport error: ' + JSON.stringify(rpc.error));\nif (rpc.result && rpc.result.isError) throw new Error('MCP tool error: ' + ((rpc.result.content && rpc.result.content[0] && rpc.result.content[0].text) || 'unknown'));\nconst out = JSON.parse(rpc.result.content[0].text);\nif (out.error) throw new Error('fill_pdf: ' + out.error);\n// download_url: plain GET, no auth, valid until the workspace expires (~24h).\nreturn [{ json: {\n  download_url: out.download_url,\n  output_mode: out.output_mode,\n  filled_fields: out.filled_fields,\n  link_expires_at: out.link_expires_at,\n  warnings: out.warnings || null,\n} }];"
      },
      "id": "a1000000-0000-0000-0000-00000000000a",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-00000000000b",
      "name": "Redirect to filled PDF",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2040,
        0
      ],
      "webhookId": "76a1b6a1-90d2-4f1e-9d55-1c6f0a8b1a02"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Mint upload slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint upload slot": {
      "main": [
        [
          {
            "node": "Prepare upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare upload": {
      "main": [
        [
          {
            "node": "Upload PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Open PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open PDF": {
      "main": [
        [
          {
            "node": "Map values to fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map values to fields": {
      "main": [
        [
          {
            "node": "Fill PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill PDF": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "Redirect to filled PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
